<div class="down-vote-container">
  <button href="#" class="btn btn-danger down-vote" path="<%= downvote_topic_request_path(topic_request) %>" <%= voteable ? '' : 'disabled' %>>
    <i class="fa fa-thumbs-down"></i>
    <span class="badge"><%= topic_request.down_vote_count %></span>
  </button>
</div>
<div class="up-vote-container">
  <button href="#" class="btn btn-success up-vote" path="<%= upvote_topic_request_path(topic_request) %>" <%= voteable ? '' : 'disabled' %>>
    <span class="badge"><%= topic_request.up_vote_count %></span>
    <i class="fa fa-thumbs-up"></i>
  </button>
</div>
