<div class="row">
  <div class="col-sm-7">
    <div class="row">
      <div class="col-sm-8">
        <h1>
          <u>Elect for Content</u>
        </h1>
      </div>
      <div class="col-sm-4 text-right">
        <% if can? :create, TopicRequest %>
          <%= link_to new_topic_request_path, class: 'btn btn-primary js-new-topic-request' do %>
            <span class="fa fa-plus fa-lg"></span>
          <% end %>
        <% end %>
      </div>
    </div>
    <% @topic_requests.each do |topic_request| %>
      <div class="row">
        <div class="col-sm-12">
          <div class="card article-card">
            <div class="card-block topic-request-block" id="<%= topic_request.id %>" show-path="<%= topic_request_path(topic_request) %>">
              <% voteable = current_user && topic_request.voteable?(current_user) %>

              <h3 class="card-title"><%= topic_request.title %></h3>

              <div>
                <%= topic_request.description.truncate(600) %>
              </div>

              <%= render partial: 'topic_requests/votable', locals: { topic_request: topic_request, voteable: voteable } %>
            </div>
          </div>
        </div>
      </div>
      <br/>
    <% end %>

  </div>
  <div class="col-sm-5">
    <%= render partial: 'topic_requests/trending_topic_requests' %>
  </div>
</div>
