<div class="row">
  <div class="col-sm-12">
    <h1>Edit Your Account</h1>
  </div>

  <div class="col-sm-12">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :current_password %>
      <%= f.input :password %>
      <%= f.input :password_confirmation, autocomplete: 'off' %>
      <%= f.submit %>
    <% end %>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-sm-12">
    <h3>Cancel Account</h3>
    <p>Unhappy? We'll be sad to see you go.</p>
    <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button right' %>
  </div>
</div>
