<%= render partial: 'users/subscribe' %>

<div class="row">
  <div class="col-sm-12">
    <div class="article-image">
      <%= image_tag @article.image.url(:medium) %>
    </div>

    <div class="article-headline">
      <h1>
        <%= @article.headline %>
      </h1>
    </div>
    <br/>
    <br/>

    <div class="article-body">
      <%= h @article.body.html_safe %>
    </div>
  </div>
</div>
<br/>
<% if current_user %>
  <div class="row">
    <div class="col-sm-12">
      <div class="card clickable comment"
           data-path="<%= new_article_comment_path(@article) %>"
           data-nested="false">
        <div class="card-block">
          <div class="text-center">
            <a class="clickable-link" href="#">
              Comment on this Article
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-block">
          <div class="text-center">
            <%= link_to 'Sign in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %> to Comment on this Article
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<br/>
<br/>

<div class="row">
  <div class="col-sm-12">
    <% @article.comments.each do |comment| %>
      <div id="comment-<%= comment.id %>" class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-sm-3">
              <%= render partial: 'comments/profile_info', locals: { comment: comment} %>
            </div>
            <div class="col-sm-9">
              <%= comment.body %>
            </div>
          </div>
        </div>

        <div class="card-footer muted">
          <% if can? :destroy, comment %>
            <div class="float-right destroy-comment-icon">
              <%= link_to comment_path(comment), method: :delete, data: { confirm: 'Are you sure that you would like to delete this comment?' } do %>
                <span class="fa fa-trash fa-sm"></span>
              <% end %>
            </div>
          <% end %>
          <small class="float-right comment-created-container">
            <span> from about <%= timeago_tag comment.created_at %></span>
          </small>
        </div>
      </div>
      <br/>
    <% end %>
  </div>
</div>
