<div class="row">
  <div class="col-sm-7">
    <% @articles.each do |article| %>
      <div class="row">
        <div class="col-sm-12">
          <%= render partial: 'articles/article', locals: { article: article, size: :medium } %>
        </div>
      </div>

      <%= render partial: 'articles/divider' %>

      <% if article == @articles.last %>
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-block article-block" show-path="<%= articles_path %>">
                <p class="card-text card-text-final">
                  View More Articles
                </p>
              </div>
            </div>
          </div>
        </div>
        <br/>
      <% end %>
    <% end %>

  </div>
  <div class="col-sm-5">
    <%= render partial: 'articles/' + ENV['APP_NAME'].underscore.downcase %>

    <br/>
    <br/>
    <br/>

    <%= render partial: 'topic_requests/leading_topic_requests' %>
  </div>
</div>