<%# navigation styled for Bootstrap 4.0 %>
<div class="container">
  <div class="row logo-row">
    <div class="col-sm-12 col-md-6 logo-container">
      <%= link_to root_path do %>
        <%= render partial: 'layouts/' + ENV['APP_NAME'].underscore.downcase %>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-6 search-container">
      <div class="search-box">
        <%= simple_form_for Search.new, class: 'form-inline my-2 my-lg-0', html: {style: 'height: 38px'} do |f| %>
          <%= f.input :query, label: false, placeholder: 'Search', class: 'form-control mr-sm-2' %>
          <%= f.input :user_id, value: current_user.try(:id), as: :hidden, label: false %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="header clearfix">
    <nav class="navbar navbar-toggleable-md navbar-light">
      <button class="navbar-toggler navbar-toggler-right"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon fa fa-navicon fa-lg"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <%= render 'layouts/navigation_links' %>
        </ul>
        <ul class="navbar-nav">
          <%= render 'layouts/nav_links_for_auth' %>
        </ul>
      </div>
      <span class="navbar-brand">&nbsp;</span>
    </nav>
  </div>
</div>

