<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Reciprocate Life" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Reciprocate Life" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
      <div class="container">

        <%= yield %>

      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <div class="text-left left-side">
          <div class="text-muted">&copy; 2017 Reciprocate.Life</div>
        </div>
        <div class="text-right right-side">
          <div class="text-muted">Brought to Your Courtesy of Space City Innovators, LLC</div>
        </div>
      </div>
    </footer>
  </body>
</html>
