<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : ENV['APP_DISPLAY_NAME'] %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : ENV['APP_NAME'] %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <% if Rails.env.production? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= Rails.application.secrets.google['ANALYTICS_TOKEN'] %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

          gtag('config', '<%= Rails.application.secrets.google['ANALYTICS_TOKEN'] %>');
      </script>
    <% end %>
    <link rel="icon" href="<%= image_url("#{ENV['APP_NAME'].underscore.downcase}_icon.png") %>" type="image/ico" />
  </head>
  <body>
    <div class="container space-city-container">
      <header>
        <%= render 'layouts/navigation' %>
      </header>
      <main role="main">
       <%= render 'layouts/messages' %>

        <%= render partial: 'users/subscribe' %>

        <%= yield %>

        <div class="modal fade" id="genericModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="genericModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="genericModalBody"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="text-muted">&copy; <%= ENV['APP_DISPLAY_NAME'] %></div>
          </div>
          <div class="col-md-6 hidden-sm-down text-right">
            <div class="text-muted">Space City Innovators, LLC</div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
